@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300;400;700&family=Monoton&display=swap');

/* Common Styles */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
	outline: none;
	font-family: 'Bellota Text', cursive;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.container {
    width: 100%;
    overflow-x: hidden;    
}

/* For Section 2 & 3 */
.section-heading {
    font-size: 10rem;
    font-weight: bold;
    text-decoration: uppercase;
    color:#999;
    text-align: center;
    opacity: 0.5; 
    text-shadow: 2rem 2rem 2rem 4rem #aaa;
}